@font-face {
   font-family: 'Franklin Gothic Book Regular';
   font-display: swap;
   src: url('file:///C:/Users/markl/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-15_114117/fonts/Franklin%20Gothic%20Book%20Regular/font.ttf');
}
